<!-- <p>add-vehicle works!</p> -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="_id">
        <mat-header-cell mat-sort-header *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
    </ng-container>

    <!-- model Column -->
    <ng-container matColumnDef="Model">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Model </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Model}} </mat-cell>
    </ng-container>

    <!-- make Column -->
    <ng-container matColumnDef="Make">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Make </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Make}} </mat-cell>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="Type">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Year">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Year </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Color">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Color}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PlateNo">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Plate Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PlateNo}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions] = "[2,5,10]" showFirstLastButtons></mat-paginator>
</div>