.rating-list li {
    color: lightcoral;
    // padding: 5px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li,
.rating-list li.selected {
    color: crimson;
}

.rating-list {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
}

.fav {
    width: 30%;
    background-color: crimson;
    border-color: crimson;
    text-align: left;
}

.vehicle-img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.vehicle-info label {
    width: 90px;
}

.fav {
    margin-right: 5px;
}

.fav:focus {
    outline: none;
    box-shadow: none;
}

.fav-icon {
    background-color: white;
    border: 2px crimson solid;
}

fa-icon {
    color: crimson;
    font-size: 15px;
    border: 4px;
}
