<!--The content below is only a placeholder and can be replaced.-->
<!-- <button mat-raised-button>Hello</button> -->

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        Menu<br/>
        <button (click) = "sidenav.toggle()">Add Vehicle</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-icon><button (click)="sidenav.toggle()">menu_open</button></mat-icon>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar color="primary" class="navbar">
    <div>Vehicle Renting Application</div>
    <div>
        <mat-menu #appMenu = "matMenu">
            <button mat-menu-item routerLink="/add-vehicle">Add Vehicle</button>
            <button mat-menu-item routerLink="/view-vehicle">View Vehicle</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor] = "appMenu"> Manage Vehicle</button>
        <mat-menu #clientMenu = "matMenu">
            <button mat-menu-item routerLink="/add-client">Add Client</button>
            <button mat-menu-item routerLink="/view-client">View Client</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor] = "clientMenu">Manage Client</button>

        <mat-menu #clientMenu = "matMenu">
            <button mat-menu-item routerLink="/add-client">Create Reservation</button>
            <button mat-menu-item routerLink="/view-client">Cancel/ Return Reservation</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor] = "clientMenu">Manage Rental</button>
    </div>
</mat-toolbar>
<br/>
<router-outlet></router-outlet>
