<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<form [formGroup]="updateForm" #formDirective="ngForm">
  <mat-dialog-content *ngIf="(action == 'vehicleDelete' || action == 'vehicleUpdate'); else clientTemplate">
    <mat-form-field *ngIf="action != 'vehicleDelete'">
      <input placeholder="Type" formControlName="Type" matInput [(ngModel)]="local_data.Type">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'vehicleDelete'">
      <input placeholder="Make" formControlName="Make" matInput [(ngModel)]="local_data.Make">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'vehicleDelete'">
      <input placeholder="Model" formControlName="Model" matInput [(ngModel)]="local_data.Model">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'vehicleDelete'">
      <input placeholder="Color" formControlName="Color" matInput [(ngModel)]="local_data.Color">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'vehicleDelete'">
      <input placeholder="Year" formControlName="Year" matInput [(ngModel)]="local_data.Year">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'vehicleDelete'; else elseTemplate">
      <input placeholder="PlateNo" formControlName="PlateNo" matInput [(ngModel)]="local_data.PlateNo">
    </mat-form-field>
    <ng-template #elseTemplate>
      Sure to delete ?
    </ng-template>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="doAction(formDirective)">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </mat-dialog-actions>
</form>

<form [formGroup]="clientForm">
  <ng-template #clientTemplate>
    <mat-form-field *ngIf="action != 'clientDelete'">
      <input placeholder="First Name" formControlName="firstName" matInput [(ngModel)]="local_data.firstName">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'clientDelete'">
      <input placeholder="Last Name" formControlName="lastName" matInput [(ngModel)]="local_data.lastName">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'clientDelete'">
      <input placeholder="License No" formControlName="licenseNo" matInput [(ngModel)]="local_data.licenseNo">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'clientDelete'">
      <input [matDatepicker]="myDatepicker" placeholder="License Expiry Date" formControlName="lExpiryDate" matInput
        [(ngModel)]="local_data.lExpiryDate" >
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="action != 'clientDelete'; else elseClientTemplate">
      <input placeholder="Phone number" formControlName="phoneNo" matInput [(ngModel)]="local_data.phoneNo">
    </mat-form-field>
  </ng-template>

  <ng-template #elseClientTemplate>
    Sure to delete ?
  </ng-template>
</form>