<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<form [formGroup]="updateForm">
  <mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'">
      <input placeholder="Type" formControlName="Type" matInput [(ngModel)]="local_data.Type">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
      <input placeholder="Make" formControlName="Make" matInput [(ngModel)]="local_data.Make">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
      <input placeholder="Model" formControlName="Model" matInput [(ngModel)]="local_data.Model">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
      <input placeholder="Color" formControlName="Color" matInput [(ngModel)]="local_data.Color">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
      <input placeholder="Year" formControlName="Year" matInput [(ngModel)]="local_data.Year">
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
      <input placeholder="PlateNo" formControlName="PlateNo" matInput [(ngModel)]="local_data.PlateNo">
    </mat-form-field>
    <ng-template #elseTemplate>
      Sure to delete ?
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </mat-dialog-actions>
</form>